.footer {
    position: fixed;
    bottom: 0;
    height: 5vh;
    width: 100%;
    background-color:  #000000;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.footer-title{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.footer-link{
    color: rgb(255, 255, 255);
}

.footer-link:hover{
    color: black;
}