/* Ensure the table container is positioned to the right */
.table-container {
  width: 40%; /* Adjust the width as needed */
  max-width: 600px; /* Ensure a maximum width */
  margin-left: auto; /* Push to the right */
}

/* Set the column width */
.mat-column-id {
  width: 10%; /* Adjust as needed */
}

.mat-column-url {
  width: 70%; /* Adjust as needed */
}

.mat-column-actions {
  width: 20%; /* Adjust as needed */
}

/* Other existing styles */
.content {
  padding-top: 90px;
  padding-bottom: 5vh;
  display: flex;
  justify-content: flex-end; /* Ensure the content is aligned to the right */
}

.example-container {
  flex-grow: 1; /* Take remaining space */
}

.title {
  padding-top: 0.5vh;
  font-size: 1.5rem;
  font-weight: 550;
  padding-bottom: 1vh;
}

.chart {
  height: 76vh;
  z-index: 0;
}

.card2 {
  max-height: 72.7vh;
}

.title-2 {
  font-size: 1rem;
  font-weight: 550;
}

.custom-theme-table th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

.on {
  color: green;
  font-weight: 550;
}

.off {
  color: red;
  font-weight: 550;
}

.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  height: 100px;
  background-color: white !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.custom-toggle .mat-slide-toggle-thumb {
  transform: scale(1.5);
}
