<h1 mat-dialog-title>Add New Job</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Location</mat-label>
      <input matInput formControlName="location">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Role</mat-label>
      <input matInput formControlName="role">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Business Area</mat-label>
      <input matInput formControlName="business_area">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSubmit()">Submit</button>
</div>
