.form-container{
    position: relative;
    background-color: white;
    top: 22vh;
    padding: 15px;
    border-radius: 5px; 
    display: flex;
    flex-direction: column; 
    backdrop-filter: blur(10px); /* Apply a blur effect */
    backdrop-filter: blur(10px); /* Apply a blur effect */
  box-shadow: 0 0 10px rgba(109, 109, 109, 0.5); /* Add a subtle shadow */
  border-radius: 10px;
}

.color-temp-bg{
    background-color: #e2e2e2;
    color: white;
  }

#admin{
    text-align: center;
}

.user,.pw{
    width:100%;
    display:block;
}


.link{
    color: grey; /* Use the appropriate color from the Pink palette */
    text-decoration: none;
    margin-top: 10px;
    size:5px;
    padding: 2px;
  }

